

$bc-emma: #314855;
$bc-emma-2: #5cc3e8;
$bc-emma-3: #ffdb00;
$bc-emma-4: #79ceb8;
$bc-emma-5: #e95f5c;

$bc-epictions: #ff2052;
$bc-epictions-2: #e6e6e6;
$bc-epictions-3: #404040;
$bc-epictions-4: #01b5dd;
$bc-epictions-5: #b0db64;

$bc-evernote: #2dbe60;
$bc-evernote-2: #7b868a;
$bc-evernote-3: #2facb2;
$bc-evernote-4: #166a8f;
$bc-evernote-5: #3b4446;
$bc-evernote-6: #525e61;
$bc-evernote-7: #7b868a;
$bc-evernote-8: #aeb6b8;
$bc-evernote-9: #d7dcdd;
$bc-evernote-10: #eff2f3;

$bc-mollie: #c6d6df;
$bc-mollie-2: #ec4534;

$bc-plasso: #6585ed;
$bc-plasso-2: #f5756c;
$bc-plasso-3: #98afc0;
$bc-plasso-4: #2f3148;

$bc-shopify: #96bf48;
$bc-shopify-2: #479ccf;
$bc-shopify-3: #2d3538;
$bc-shopify-4: #f5f5f5;
$bc-shopify-5: #f2f7fa;
$bc-shopify-6: #666666;

$bc-whoosnap-designer: #2fa5d6;
$bc-whoosnap-designer-2: #b52f2c;