@import "variables";
@import "typography";

.main-body {
    background: $main-bg;
    // width: 1300px;
    margin: 0 auto;
    border-radius: 3px;
    position: relative;
    z-index: 2;
}
.main-body__top {
    width: 100%;
}

.wrapper, .wrapper-inner {
    max-width: 1600px;
    margin: 0 auto;
}

.wrapper-inner {
    padding: 20px 5px;
}

.service-container {
    padding: 0 .5rem;
}

[bg-words] {
    position: relative;
    overflow: hidden;
    z-index: 1;

    &:before {
        content: attr(bg-words);
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(0%, -20%);
        line-height: 1;
        opacity: .1;
        font-size: 3em;
        z-index: -1;
    }
}

.linked-section {
    padding-top: 50px;
}

#main-services {
    padding-bottom: 0;
}
.services--with-bg {
    padding-bottom: 180px;
    background: url('/img/bg/city-drawing.png') no-repeat bottom center;
}

.feature {
    position: relative;
    background-repeat: no-repeat;
    background-size: auto 100%;
    z-index: 1;

    &--top {
        position: relative;
        // top: -100px;
        max-width: 1600px;
        margin: 0 auto;
    }

    &--bg-white {
        background-color: #fff;

        &:after {
            display: none !important;
        }
    }
    

    &--bg-right {
        background-position: top right;

        &:after {
            background: linear-gradient(to right,rgba(245,245,245,1) 45%,rgba(255,255,255,0) 140%);
        }
    }

    &--bg-left {
        background-position: top left;

        &:after {
            background: linear-gradient(to left,rgba(245,245,245,1) 45%,rgba(255,255,255,0) 140%);
        }
    }

    .widget-inner {
        position: relative;
        z-index: 1;
    }

    &:after {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        content: "";
        display: block;
        z-index: -1;
    }
}

.row__item--feature {
    z-index: 2;
}

.feature {
    padding: 40px 0;

    &--no-padding {
        padding: 0;
    }

    &__title {
        font-size: 2.5em;
        color: $bc-dark;
        // width: 400px;
        padding-bottom: 20px;
        margin: 30px auto 50px;
        position: relative;

        &:before,
        &:after {
            content: '';
            background-color: $bc-dark;
            width: 100px;
            height: 2px;
            display: block;
            position: absolute;
            top: 100%;
            left: 50%;
            transform: translate(-60%, -4px);
            z-index: 2;
        }

        &:before {
            
        }

        &:after {
            transform: translate(-40%, 4px);
        }
    }
    &__sub-title {
        font-size: 2.3em;
        color: $c-primary;
    }

    &__subtitle {
        font-size: 1.2em;
        color: #6f6f6f;
        margin-bottom: 10px;
    }

    &__text {
        font-weight: 300;
        font-size: 1.4em;
        line-height: 1.5;
    }
}

.col--feature {
    margin-bottom: 25px;
}

.footer {
    // margin-top: 50px;
    background-color: $bc-dark;
    color: $bc-light;
    min-height: 400px;
    position: relative;

    &__title {
        color: $bc-light;
        margin-bottom: 40px;
    }
    &__sub-title {
        font-family: $font-cond;
        font-weight: 300;
        color: $bc-light;
    }

    &__wrapper {
        padding: 40px 20px;
    }

    &--darker {
        color: lighten($bc-dark, 60);
        background-color: darken($bc-dark, 3);
    }

    &__top {
        font-size: 1.3em;
        font-weight: 300;
        padding: 10px;
        // height: 80px;

        &__item {
            padding: 5px 10px;
        }
    }

    &__bottom {
        font-size: 1.3em;
        font-weight: 300;
        padding: 30px;
        // height: 80px;
    }
}

@media (min-width: 48em) {
    .wrapper-inner{
        padding: 100px 60px;
    }

}

@media (min-width: 90rem) {

    .footer__top__item {
        padding: 20px;
    }

}

