@import "variables";

@keyframes expandDown {
    0% {        
        transform: scaleY(0)
    }
    100% {
        transform: scaleY(1)
    }
}
@keyframes expandUp {
    0% {
        
        transform: scaleY(1)
    }
    100% {
        transform: scaleY(0)
    }
}

.card {
    background-color: #fff;
    box-shadow: 0 0 30px 0 rgba(33,30,25,.1);
    padding: 0;
    z-index: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    transform-origin: top;

    &--long {
        box-shadow: none !important;

        .card__title {
            padding: 35px;
            line-height: 1.6;
        }
    }

    &:after {
        content: '';
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        bottom: 0;
        background-color: #fff;
        transform-origin: bottom;
        z-index: 6;
        transform: scaleY(0);
    }

    &--padd {
        padding: 20px;
    }

    &__body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &--border {
            border: 1px solid #eee;
        }

        &__text {
            padding: 0 30px;
            margin: 0 0 15px 0;
            font-size: 1rem;
            line-height: 1.5rem;
            color: $text-light;
            overflow: hidden;

            &--thanks {
                text-align: center;
                width: 85%;
                margin: 10px auto;
                font-weight: 600;
            }

            &--long {
                text-align: left;
                line-height: 1.6;
                padding: 20px 55px;
                color: #505867;
            }
        }
    }

    &__title {
        font-size: 2em;
        text-align: center;
        padding: 25px;
        font-weight: 700;
        margin: 0;
        margin-bottom: 15px;
        position: relative;

        &--lg {
            font-size: 2.5em;
        }


        &:before {
            
        }

        &:after {
            transform: translate(-40%, 4px);
        }
    }

    &__action {
        text-align: center;
        padding: 20px;
    }
}

@media (min-width: 48em) {
    .card {
        transform: scaleY(0);

        &:after {
            transform: scaleY(1);
        }
    }
    .aos-animate .card {
        animation: expandDown;
        animation-duration: .4s;
        animation-iteration-count: 1;
        animation-delay: .3s;
        animation-fill-mode: forwards;
        animation-timing-function: ease;
    }

    .aos-animate .card:after {
        animation: expandUp;
        animation-duration: .6s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        animation-timing-function: ease;
        animation-delay: .6s;
    }

    #main-properties .col:nth-child(1) .card {
        animation-delay: 1s;

        &:after {
            animation-delay: 1.6s;
        }
    }

    #main-properties .col:nth-child(2) .card {
        animation-delay: .9s;

        &:after {
            animation-delay: 1.6s;
        }
    }

    #main-properties .col:nth-child(3) .card {
        animation-delay: 1.3s;

        &:after {
            animation-delay: 1.9s;
        }
    }

    #main-properties .col:nth-child(4) .card {
        animation-delay: 1.15s;

        &:after {
            animation-delay: 1.75s;
        }
    }
}