@import "typography";
@import "mixins";

.featicon-col {
    padding: 0 1.5rem;
    position: relative;
    padding-top: 25px !important;
    z-index: 1;

    &:after {
        content: '';
        opacity: 0;
        transition: .2s ease opacity;
        background-color: #f5f5f5;
        border-radius: 2px;
        @include afterBackground();
    }

    &:hover {
        
        &:after {
            opacity: 1;
        }
    }
}

.featicon {
    text-align: center;
    
    // svg {
    //     fill: $neon-green;
    // }

    &__icon {
        width: 100px;
        height: 100px;
        text-align: center;
        //background-color: #f1f1f1;
        border-radius: 100%;
        margin: 0 auto;
        margin-bottom: 30px;

        img {
            max-width: 100%;
        }
    }

    &__title {

    }

    &__text {
        font-size: 1rem;
        line-height: 1.5rem;
        padding: 0 .75em;
        color: $c-secondary;
    }
}
