@import "variables";


.row {
    &-pad {
        margin: 0;
    }

    &--align-center {
        align-items: center;
    }

    &--justify-center {
        justify-content: center;
    }

    &--nowrap {
        flex-wrap: nowrap;
    }
}

.container {
    padding: 0 .5rem;
    
    &--border-bottom {
        padding-bottom: 40px;
        border-bottom: 2px solid $c-primary;
    }
}

@media (max-width: 48rem) {
    .container-fluid {
        padding: 0 .5rem;
    }
}

[class^="col-"],
[class*=" col-"] {
    padding: 0 .5rem;
}

.col-pad {
    padding: 5px;
}

.basic-list {
    padding: 0;
    list-style: none;

    &__item {
        padding: 4px 0;
    }
}
