$purple: #484348;
$c-primary: #212121;
$c-dark: #15181B;
$c-secondary: #78909C;
$main-bg: #fff;

$bc-sea: #6585ed;
$bc-fire: #f5756c;
$bc-oc: #FF7F58;
$bc-light: #eff2f3;
$bc-dark: #2f3148;


$font-sans: 'Source Sans Pro', sans-serif;
$font-alt: 'Libre Baskerville', serif;
$font-title: 'Playfair Display', serif;
$font-serif: 'Playfair Display', serif;
// $font-serif: 'Merriweather', sans-serif;
$font-cond: 'Oswald', sans-serif;

$font-hn: 700;

$neon-green: #44dea2;

$text-light: #515c71;