@import "variables";

.form {

    &__group {
        margin-bottom: 20px;
    }

    &__control {
        padding: 4px 8px;
        border: 0;
        border-radius: 2px;

        &--bg-dark {
            background-color: lighten($bc-dark, 20);
            box-shadow: 1px 1px 3px darken($bc-dark, 10);
            outline: 0;

            &:focus {
                background-color: lighten($bc-dark, 40);
            }
        }
    }

    &__action {

    }

    &__btn {

        &--dark {
            color: #fff;
            background-color: lighten($bc-dark, 20);

            &:hover {
                background-color: lighten($bc-dark, 40);
            }
        }
    }

}
