@import "variables";
@import "typography";


html {
    font-size: 15px;
}

* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

@media (min-width: 90em) {
    html {
        font-size: 18px;
    }
}

@media (min-width: 64em) {
    html {
        font-size: 16px;
    }
}

html, body {
    min-height: 100%;
    height: 100%;
}

body {
    font-family: $font-sans;
    background-color: $main-bg;
    padding-top: 60px;
}

.header {
    position: fixed;
    background-color: $main-bg;
    top: 0;
    left: 0;
    right: 0;
    padding: 15px 30px;
    justify-content: space-between;
    z-index: 20;
    box-shadow: 0 1px 8px rgba(70,70,70,.2);
}

.logo {
    font-size: 2em;
    font-weight: 700;
    font-family: $font-alt;
    text-align: center;
    color: $bc-dark;

    &__img {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 5px;
    }

    img {
        max-height: 100px;
    }
}

.main-nav {

    &__link {
        font-size: 1.4em;
        font-family: $font-cond;
        display: inline-block;
        margin-right: 20px;
        position: relative;
        font-weight: 300;
        padding: 0 15px;
        transition: .2s ease all;

        &:after {
            content: attr(alt-text);
            text-align: center;
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: $bc-dark;
            transform: scaleY(0);
            transform-origin: bottom;
            transition: .2s ease transform;
        }
    }
    &__link:hover {
        color: #fff;

        &:after {
            transform: scaleY(1);
        }
    }
}

.intro {
    height: 75%;
    padding: 15px;

    &--sm {
        height: 400px;
        padding: 20px;
    }
    &__wrapper {
        height: 100%;
        background: url('../img/small.jpg') center no-repeat;
        background-size: cover;
        position: relative;
        z-index: 1;

        &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            background-color: rgba(70,70,70,.4);
            z-index: -1;
        }
    }

    &__background {
        height: 100%;
        position: fixed;
        left: 15px;
        right: 15px;
        background: url('../img/main2.jpg') center no-repeat;
        background-size: cover;
    }

    &__split {
        height: 75%;
        width: 50%;
        float: left;
        text-align: center;

        &--left {
            background: url('../img/main.jpg') top left no-repeat;
            background-size: cover;
            z-index: 1;
            position: relative;

            &:after {
                content: '';
                position: absolute;
                z-index: -1;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                background-color: rgba($bc-dark, .75);
            }
        }

        &--right {
            background-color: $bc-dark;
        }
    }

    &:after {
        content: '';
        display: block;
        width: 100%;
        height: 0;
        clear: both;
    }
}

.annouce {
    height: 100%;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 0 100px;

    &__card {

    }

    &--small {
        color: rgba( #fff, .8 );
        text-transform: uppercase;
        letter-spacing: 10px;
        font-size: 22px;
        line-height: 1.2;
        font-weight: 600;
        margin: 0;
    }

    &--sans-serif {
        font-family: $font-sans;
    }

    &__item {
        padding: 10px 40px;
    }

    &__main-title {
        color: #fff;
        font-weight: 400;
        line-height: 1.3;
        font-family: $font-title;
        font-size: 3.5em;
        text-shadow: 1px 1px 2px rgba(70, 70, 70, 0.5);
    }
}


.main-body {
    background: $main-bg;
    // width: 1300px;
    margin: 0 auto;
    border-radius: 3px;
    position: relative;
    z-index: 2;
}
.main-body__top {
    width: 100%;
}

.wrapper, .wrapper-inner {
    max-width: 1300px;
    margin: 0 auto;
}

.wrapper-inner{
    padding: 100px 60px;
}
// .wrapper-inner--no-top {
//     padding-top: 0;
// }

.feature {
    position: relative;
    background-repeat: no-repeat;
    background-size: auto 100%;
    z-index: 1;

    &--top {
        position: relative;
        top: -100px;
        width: 1600px;
        margin: 0 auto;
    }
    &--bg-white {
        background-color: #fff;
    }

    &--bg-right {
        background-position: top right;

        &:after {
            background: linear-gradient(to right,rgba(245,245,245,1) 50%,rgba(255,255,255,0) 140%);
        }
    }

    &--bg-left {
        background-position: top left;

        &:after {
            background: linear-gradient(to left,rgba(245,245,245,1) 50%,rgba(255,255,255,0) 140%);
        }
    }

    .widget-inner {
        position: relative;
        z-index: 1;
    }

    &:after {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        content: "";
        display: block;
        z-index: -1;
    }
}

.row__item--feature {
    z-index: 2;
}

.feature {
    padding: 40px 0;

    &--no-padding {
        padding: 0;
    }

    &__title {
        font-size: 2.5em;
        color: $bc-dark;
        width: 400px;
        padding-bottom: 20px;
        margin: 30px auto;
        position: relative;

        &:after {
            content: '';
            width: 20%;
            height: 2px;
            background: $bc-dark;
            display: block;
            position: absolute;
            top: 100%;
            left: 50%;
            transform: translate(-50%);
            z-index: 2;
        }
    }
    &__sub-title {
        font-size: 2.3em;
        color: $c-primary;
    }

    &__subtitle {
        font-size: 1.2em;
        color: #6f6f6f;
        margin-bottom: 10px;
    }

    &__text {
        font-weight: 300;
        font-size: 1.4em;
        line-height: 1.5;
    }
}

.footer {
    background-color: $bc-dark;
    color: $bc-light;
    min-height: 400px;
    position: relative;
    padding-bottom: 80px;

    &__title {
        color: $bc-light;
    }
    &__sub-title {
        font-family: $font-cond;
        font-weight: 300;
        color: $bc-light;
    }

    &__wrapper {
        padding: 40px 0;
    }

    &__bottom {
        padding: 25px;
        position: absolute;
        bottom: 0;
        width: 100%;
        min-height: 80px;
        background-color: darken($bc-dark, 3);
    }
}
